.circle {
  width: 50%;
  height: 50%;
  background-size: 40%;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;

  &__top {
    background-size: 35%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/circle-top-right.svg");
    background-position: right top;
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../images/circle-bottom-left.svg");
    background-position: left bottom;
  }
}

.card {
  // --color-background: rgba(245, 245, 245, 0.77);
  --color-background: #fff;
  // functionality
  // give a 3D-positioned element some perspective, give it a large number to make nicer.
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 35rem;
  width: 27rem;
  margin: 2rem 1rem;
  // box-shadow: var(--shadow-dark);

  &__side {
    color: #fff;
    font-size: 2rem;

    height: 35rem;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // if we set it to hidden, it basically hides the back part of an element.
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 1rem;
    // to avoid image cover radius
    overflow: hidden;
    box-shadow: var(--shadow-light);

    &--front {
      background-color: var(--color-background);
    }

    &--back {
      transform: rotateY(180deg);

      background-image: linear-gradient(
        to right bottom,
        var(--color-orange-dark),
        var(--color-orange-light)
      );
    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  // front side styling
  &__picture {
    background-size: cover;
    height: 20rem;
    // background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    background-image: linear-gradient(
      to right bottom,
      var(--color-orange-light),
      var(--color-orange-dark)
    );

    // Center image
    white-space: nowrap;
    text-align: center;

    &--img {
      height: 60%;
      vertical-align: middle;
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: right;
    color: #fff;
    position: absolute;
    top: 14rem;
    right: 0.2rem;
    width: 75%;
  }

  &__heading-span {
    padding: 1rem 1.5rem;
    // simply apply all the declarations that we have in the selector, in this case is only the padding
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin: 1rem;

    &__title {
      font-size: 2.3rem;
      color: var(--color-grey-dark-2);
    }

    &__tech {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1rem;

      &--label {
        background-color: orangered;
        padding: 0.3rem 1.3rem;
        border-radius: 0.4rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        // box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.445);
      }
    }
  }

  // back side styling
  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    font-size: 1.7rem;

    &__details {
      margin: 2rem 1rem;

      &-ul {
        margin-left: 2rem;

        &-li {
          margin-top: 1rem;
        }
      }
    }

    &__btn {
      display: flex;
      justify-content: space-around;
      margin: 1rem;
    }
  }

  // @include respond($bp-medium) {
  @media only screen and (max-width: $bp-small) {
    height: auto;
    width: 90%;
    border-radius: 1rem;
    background-color: var(--color-background);
    box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);

    &__picture--img {
      height: 80%;
      max-width: 18rem;
    }

    &__side {
      position: relative;
      height: auto;
      box-shadow: none;

      &--back {
        transform: rotateY(0);
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 0 1rem 1rem;
      }
    }

    &:hover &__side--front {
      transform: rotateY(0);
    }

    &__info {
      padding: 1rem;
    }

    // font side styling
  }
}

.arrow {
  --line: #646b8c;
  --color: #2b3044;
  text-decoration: none;
  color: var(--color);
  position: relative;

  span {
    background-image: linear-gradient(0deg, var(--line) 0%, var(--line) 100%);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: var(--background-size, 100%) 1px;
    transition: background-size 0.2s linear var(--background-delay, 0.15s);
    // font-size: 16px;
    line-height: 20px;
    transform: translateZ(0);
  }

  svg {
    vertical-align: middle;
    display: inline;
    line-height: 1;
    width: 13px;
    height: 20px;
    position: relative;
    left: -2px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
    stroke: var(--line);
    stroke-dasharray: 7.95 30;
    stroke-dashoffset: var(--stroke-dashoffset, 46);
    transition: stroke-dashoffset var(--stroke-duration, 0.15s)
      var(--stroke-easing, linear) var(--stroke-delay, 0s);
  }

  &:hover {
    --background-size: 0%;
    --background-delay: 0s;
    --stroke-dashoffset: 26;
    --stroke-duration: 0.3s;
    --stroke-easing: cubic-bezier(0.3, 1.5, 0.5, 1);
    --stroke-delay: 0.195s;
  }
}

.btn {
  &__effect {
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: var(--color-grey-light-1);
    text-transform: capitalize;
    /* background-color: - add your own background-color */
    font: {
      family: "Roboto", sans-serif; /* put your font-family */
      weight: 100;
      size: 18px;
    }
    padding: 0.8rem 0;
    width: 45%;
    border-radius: 0.6rem;
    overflow: hidden;

    &-left {
      background-color: #e76f51;
      transition: all 0.2s linear 0s;

      &-view {
        &:before {
          background-image: url("../images/logo-internet.svg");
        }
      }

      &-git {
        &:before {
          background-image: url("../images/logo-github.svg");
        }
      }

      &-google-play {
        &:before {
          background-image: url("../images/logo-google-play.svg");
        }
      }

      &:before {
        content: " ";
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -30px;
        width: 30px;
        height: 100%;
        background-color: rgba(#fff, 0.3);
        border-radius: 0px 0.6rem 0.6rem 0px;
        transition: all 0.2s linear 0s;
        text-align: center;
      }

      &:hover {
        text-indent: -30px;

        &:before {
          right: 0;
          text-indent: 0px;
        }
      }
    }
  }
}

.modal {
  &__header {
    font-size: 2.3rem;
    font-weight: 300;
    color: var(--color-grey-dark-1);
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--color-grey-dark-3);
    margin: 2rem 2rem 0 2rem;
  }

  &__content {
    font-size: 1.8rem;
    color: var(--color-grey-dark-2);
    margin: 0.5rem 2rem 2rem 2rem;

    p {
      margin-top: 1rem;
    }
  }
}
