.circle {
  width: 50%;
  height: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  // background-image: linear-gradient(
  //   to right top,
  //   var(--color-orange-light),
  //   var(--color-orange-dark)
  // );

  &__top {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../images/circle-top-right.svg");
    background-position: right top;
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../images/circle-bottom-left.svg");
    background-position: left 0 bottom 0;
  }
}
