.container {
  margin: 0 auto;
  max-width: 120rem;
  // min-height: 50rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  height: 95vh;
}

.header {
}

.content {
  flex: 1 1 auto;
}

.nav {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 6rem;
    height: 6rem;
    cursor: pointer;
    background-color: #f2df20;
    transition: all 0.5s;
    transform-origin: left;
    position: relative;

    &:hover {
      transform: scaleX(2.5);
    }

    &:hover &__text {
      transform: translateX(4.3rem);

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }

    &__text {
      position: absolute;
      bottom: -0.5rem;
      right: 0;
      color: #323330;
      font-size: 2.7rem;
      font-weight: 400;
      margin-right: 0.5rem;

      &::before {
        content: "SteveChan";
        position: absolute;
        right: 0;
        transform: scaleX(0.4);
        opacity: 0;
      }

      &::after {
        content: "SC";
        opacity: 1;
      }
    }
  }

  &__bar {
    width: 50%;
    padding-top: 10px;

    &-ul {
      list-style: none;
      display: flex;
      justify-content: space-evenly;
    }

    &__link {
      color: var(--color-grey-dark-2);
      text-decoration: none;
      position: relative;
      font-size: 2.5rem;

      &:active,
      &:hover {
        font-weight: 400;
        color: var(--color-blue-dark);
      }

      &::before,
      &::after {
        position: absolute;
        opacity: 0;
        font-size: 3.9rem;
        margin-top: -1.9rem;
        top: 0;
        transition: all 0.3s;
      }

      &::before {
        content: "{";
        left: -1rem;
        transform: translateX(2rem);
      }

      &::after {
        content: "}";
        right: -1rem;
        transform: translateX(-2rem);
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        transform: translateX(0);
        color: var(--color-blue-dark);
      }
    }
  }
}

.circle {
  width: 30%;
  height: 40%;
  position: absolute;
  border-radius: 60% 70% 40% 80%;
  z-index: -1;
  background-image: linear-gradient(
    to right top,
    var(--color-orange-light),
    var(--color-orange-dark)
  );

  &__top {
    top: 0;
    right: 0;
    margin-top: -10%;
    margin-right: -15%;
  }

  &__bottom {
    bottom: -20%;
    left: -10%;
  }
}

.footer {
  font-size: 1.5rem;
  flex: 0 1 40px;
  text-align: center;
  // vertical-align: bottom;
}
