.container {
  max-width: 100rem;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  height: 87vh;

  @media only screen and (max-width: $bp-large) {
    margin: 3rem 6rem;
    height: 90vh;
  }

  @media only screen and (max-width: $bp-medium) {
    margin: 3rem 5rem;
    height: 92vh;
  }

  @media only screen and (max-width: $bp-small) {
    margin: 2rem 4rem;
    height: 94vh;
  }
}

.header {
}

.content {
  flex: 1 1 auto;
  margin-top: 1rem;
}

.nav {
  flex: 0 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    background-color: #f8e72d;
    transition: all 0.5s;
    transform-origin: left;
    position: relative;

    @media only screen and (max-width: $bp-medium) {
      width: 5.5rem;
      height: 5.5rem;
    }

    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &:hover {
      transform: scaleX(2.5);
    }

    &:hover &__text {
      transform: translateX(4.7rem);
      font-weight: 300;

      @media only screen and (max-width: $bp-medium) {
        transform: translateX(3.9rem);
      }

      &::before {
        opacity: 1;
      }

      &::after {
        opacity: 0;
      }
    }

    &__text {
      position: absolute;
      bottom: -0.5rem;
      right: 0;
      color: #323330;
      font-size: 3rem;
      font-weight: 400;
      margin-right: 0.5rem;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2.4rem;
      }

      &::before {
        content: "SteveChan";
        position: absolute;
        right: 0;
        transform: scaleX(0.4);
        opacity: 0;
      }

      &::after {
        content: "SC";
        opacity: 1;
      }
    }
  }

  &__bar {
    width: 60%;
    padding-top: 10px;

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 95%;
    }

    &-ul {
      list-style: none;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    &__link {
      color: var(--color-grey-dark-2);
      text-decoration: none;
      position: relative;
      font-size: 2.2rem;

      &:active,
      &:hover {
        font-weight: 400;
        color: var(--color-blue-dark);
      }

      &::before,
      &::after {
        position: absolute;
        opacity: 0;
        font-size: 3.7rem;
        margin-top: -1.9rem;
        top: 0;
        transition: all 0.3s;
      }

      &::before {
        content: "{";
        left: -1rem;
        transform: translateX(2rem);
      }

      &::after {
        content: "}";
        right: -1rem;
        transform: translateX(-2rem);
      }

      &:hover::before,
      &:hover::after {
        opacity: 1;
        transform: translateX(0);
        color: var(--color-blue-dark);
      }

      &-active {
        font-weight: 400;
        color: var(--color-blue);

        &::before,
        &::after {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}

.footer {
  font-size: 1.5rem;
  text-align: center;
  z-index: 1;
}
